.navBar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 2px #e1e1e1;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.navBar .container--logo {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.navBar .container--logo .logo {
  width: 15%;
  background-color: aqua;
  padding-bottom: 15%;
}

/* 
반응형 정사각형을 만드는 다른 방법
.navBar .container .logo::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */

.navBar .container--logo .title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.navBar .container--menu {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navBar .container--menu a {
  color: black;
  text-decoration: none;
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  margin: auto 0;
  align-items: center;
}

.navBar .container--menu a:hover {
  color: red;
}

.navBar .container--info {
  display: flex;
  justify-content: center;
  width: 15%;
}
